
<section class="Proyectos__container">
    <h1>Proyectos realizados:</h1>
    <article class="proyecto__container1">
        <div contenedor__texto>
            <H2>Copia de steam:</H2>
            <p>Mi primer proyecto el cual realice en un curso de HTML y CSS puro,donde nos enseñaron a poder
                maquetar una pagina web la implementacion de sass, crear lo respositorios en github,utilizar
                bootstrap y demas funciones. Coloco imagen de la pagina en cuestion clikeable para entrar al
                mismo.
            </p>
        </div>
        <div class="imagen__container">
            <a href="https://pedroroberti1.github.io/steam-proyecto-final/index.html"><img
                    src="../../assets/imagenes/img/Copia-Steam-Mio-modified.png" alt=""></a>
        </div>
    </article>
    <article>
        <h2>poyecto2</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo natus iusto labore deleniti id.
        </p>
    </article>
    <article>
        <h2>proyecto3</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia beatae obcaecati optio quos placeat
            odit.</p>
    </article>
</section>