<main>
<section class="descripcion" id="descripcion">
    <div class="descripcion__usuario">
        <div class="usuario__grid">
            <h2>Pedro Roberti</h2>
            <p>Programador web full stack jr<br>
                Estudiante desarrollador de software</p>
        </div>
        <div class="acerca__grid">
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur quae
                nihil quod. Nisi sunt ullam <br>
                consectetur possimus? Quam natus recusandae eveniet, modi dolore consectetur magnam velit
                molestias
                molestiae! Est, reiciendis.
            </p>
            <img src="../../assets/imagenes/img/640px-Conicet_Logo_con_letras.png" alt="">
            <img src="../../assets/imagenes/img/1571008925601.jpg">
        </div>

    </div>
</section>

<!----------------------------------------// Articulos //---------------------------------------->
<section class="Info__trabajo">
    <article>
        <h1>Experiencia laboral</h1>
        <ul>
            <li>
                <h2>Trabajo1</h2> -
                <h3>(años)</h3>
            </li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem, eum.</p>
        </ul>
    </article>
    <article>
        <ul>
            <li>
                <h2>Trabajo2</h2> -
                <h3>(años)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias, quod?</p>
        </ul>
    </article>
</section>

<section class="info__educacion">
    <article>
        <h1>Educacion</h1>
        <ul>
            <li>
                <h2>Trabajo1</h2> -
                <h3>(años)</h3>
            </li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem, eum.</p>
        </ul>
    </article>
    <article>
        <ul>
            <li>
                <h2>Trabajo2</h2> -
                <h3>(años)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias, quod?</p>
        </ul>
    </article>
</section>
</main>