
<section class="hard__skills">
    <h2>Hard Skills & Soft Skills:</h2>
    <div class="container__skill1">
        <div class="caja__skill1">
            <img src="../../assets/imagenes/img/logohtmlhtml5.jpg" alt="">
            <div class="cuadro__skill1" data-percent="90"></div>
        </div>
        <div class="caja__skill1">
            <img src="../../assets/imagenes/img/logo-2582747_1280.webp" alt="">
            <div class="cuadro__skill1" data-percent="70"></div>
        </div>
        <div class="caja__skill1">
            <img src="../../assets/imagenes/img/Java.png" alt="">
            <div class="cuadro__skill1" data-percent="20"></div>
        </div>
        <div class="caja__skill1">
            <img src="../../assets/imagenes/img/github-512.webp" alt="">
            <div class="cuadro__skill1" data-percent="90"></div>
        </div>
        <div class="caja__skill1">
            <img src="../../assets/imagenes/img/mysql.png" alt="">
            <div class="cuadro__skill1" data-percent="60"></div>
        </div>
        <div class="caja__skill1">
            <img src="../../assets/imagenes/img/pngegg.png" alt="">
            <div class="cuadro__skill1" data-percent="40"></div>
        </div>
    </div>
</section>
