/* <!----------------------------------------// Inicio //----------------------------------------> */
*{
    padding: 0px;
    margin: 0px;  
    box-sizing: border-box;
}

body{
    // background-color: rgba(53, 5, 5, 0.738);
    background-color: rgba(0, 0, 255, 0.292);
    // background-color: rgba(0, 136, 255, 0.194);
}

