
/* <!----------------------------------------// Proyectos //----------------------------------------> */

.Proyectos__container{
    width: 100%;
    background-color: rgb(47, 255, 0);
    
}


.proyecto__container1{
    display: flex;
    flex-direction: row;
    div{
        position: relative;
        width: 100%;
        p{
            font-family: Arial, Helvetica, sans-serif;
            font-size: large;
            text-align: justify;
        }
    }


    // hacemos con flex, nose si esta bien, tengo que revisar las medidas de la caja, encontrar una mejor forma de posicionar.


    .imagen__container{
        display: flex;
        img{
            position: absolute;
            left: 40%;
            display: block;
            height: 180px;            
            box-shadow: 10px 10px 25px black;    
        }
    }


}