

/* <!----------------------------------------// Usuarios //----------------------------------------> */

.descripcion__usuario{
    background-color: rgba(240, 136, 0, 0.091);
    border: 5px solid black;

    .usuario__grid{
        padding: 10px 40px 0px;
        
    }
    .acerca__grid{
        text-align: center;

    }
    img{
        position: relative;
        width: 50px;
        left: 45%;  
    }
}
.Info__trabajo{
    background-color: rgba(0, 255, 255, 0.202);
    border: 5px solid green;
    border-radius: 5%;
    padding: 30px;
    margin: 20px;
    ul{
        padding-left: 5%;
    }
}

.info__educacion{
    background-color: rgba(0, 255, 255, 0.202);
    border: 5px solid green;
    border-radius: 5%;
    padding: 30px;
    margin: 20px;
    ul{
        padding-left: 5%;
    }
}
